--swiftversion 5.9
--indent 4
--maxwidth 120
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve
--closingparen balanced
--exclude .build,**/Frameworks,**/python_site,**/python_stdlib
--disable redundantSelf
